---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/usa__en@holiday.calendar.google.com/events?key=A_GOOD_KEY&orderBy=startTime&singleEvents=true&timeMax=2015-01-29T18:00:00%2B00:00&timeMin=2014-01-29T18:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"-kteSF26GsdKQ5bfmcd4H3_-u3g/R0ErOA_aNuY54kabK7v4WT8ByPY"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"-kteSF26GsdKQ5bfmcd4H3_-u3g/R0ErOA_aNuY54kabK7v4WT8ByPY\"",
         "summary": "Holidays in United States",
         "description": "Holidays in United States",
         "updated": "2014-02-26T04:49:05.402Z",
         "timeZone": "UTC",
         "accessRole": "reader",
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"-kteSF26GsdKQ5bfmcd4H3_-u3g/MTM5MzM2MTMxNTAwMDAwMA\"",
           "id": "20140214_60o30dr46so30c1g60o30dr4ck",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=MjAxNDAyMTRfNjBvMzBkcjQ2c28zMGMxZzYwbzMwZHI0Y2sgdXNhX19lbkBo",
           "created": "2014-02-25T20:48:35.000Z",
           "updated": "2014-02-25T20:48:35.000Z",
           "summary": "Valentine's Day",
           "creator": {
            "email": "usa__en@holiday.calendar.google.com",
            "displayName": "Holidays in United States",
            "self": true
           },
           "organizer": {
            "email": "usa__en@holiday.calendar.google.com",
            "displayName": "Holidays in United States",
            "self": true
           },
           "start": {
            "date": "2014-02-14"
           },
           "end": {
            "date": "2014-02-15"
           },
           "visibility": "public",
           "iCalUID": "20140214_60o30dr46so30c1g60o30dr4ck@google.com",
           "sequence": 1
          },
          {
           "kind": "calendar#event",
           "etag": "\"-kteSF26GsdKQ5bfmcd4H3_-u3g/MTM5MzM2MTMxNTAwMDAwMA\"",
           "id": "20140217_60o30dr570o30e1g60o30dr4ck",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=MjAxNDAyMTdfNjBvMzBkcjU3MG8zMGUxZzYwbzMwZHI0Y2sgdXNhX19lbkBo",
           "created": "2014-02-25T20:48:35.000Z",
           "updated": "2014-02-25T20:48:35.000Z",
           "summary": "Presidents' Day [...]
