---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/usa__en@holiday.calendar.google.com/events?key=A_GOOD_KEY&orderBy=startTime&singleEvents=true&timeMax=2015-01-29T12:00:00-06:00&timeMin=2014-01-29T12:00:00-06:00
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"phDDQ2s3yNs6GGSEakaKkgSg5Ks/mKK8pc_7Vf7pQChP8X0717-mvns"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"phDDQ2s3yNs6GGSEakaKkgSg5Ks/mKK8pc_7Vf7pQChP8X0717-mvns\"",
         "summary": "US Holidays",
         "description": "US Holidays",
         "updated": "2014-01-29T23:49:50.376Z",
         "timeZone": "UTC",
         "accessRole": "reader",
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"phDDQ2s3yNs6GGSEakaKkgSg5Ks/MTM5MTAzNDg3MDAwMDAwMA\"",
           "id": "h@0348dd6681a84b748c5bf3e18c4178e23c4d5c89",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=aEAwMzQ4ZGQ2NjgxYTg0Yjc0OGM1YmYzZTE4YzQxNzhlMjNjNGQ1Yzg5IHVzYV9fZW5AaA",
           "created": "2014-01-29T22:34:30.000Z",
           "updated": "2014-01-29T22:34:30.000Z",
           "summary": "Groundhog Day",
           "creator": {
            "email": "usa__en@holiday.calendar.google.com",
            "displayName": "US Holidays",
            "self": true
           },
           "organizer": {
            "email": "usa__en@holiday.calendar.google.com",
            "displayName": "US Holidays",
            "self": true
           },
           "start": {
            "date": "2014-02-02"
           },
           "end": {
            "date": "2014-02-03"
           },
           "visibility": "public",
           "iCalUID": "h@0348dd6681a84b748c5bf3e18c4178e23c4d5c89@google.com",
           "sequence": 1
          },
          {
           "kind": "calendar#event",
           "etag": "\"phDDQ2s3yNs6GGSEakaKkgSg5Ks/MTM5MTAzNDg3MDAwMDAwMA\"",
           "id": "h@d43c5974645b0ebac70472ad42430c102cef4150",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=aEBkNDNjNTk3NDY0NWIwZWJhYzcwNDcyYWQ0MjQzMGMxMDJjZWY0MTUwIHVzYV9fZW5AaA",
           "created": "2014-01-29T22:34:30.000Z",
           "updated": "2014-01-29T22:34:30.000Z",
           "summary": [...]
