---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/bad_id/events?key=bad_key&orderBy=startTime&singleEvents=true&timeMax=2015-01-29T18:00:00%2B00:00&timeMin=2014-01-29T18:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Wed, 29 Jan 2014 18:00:00 GMT
recorded_with: VCR 2.8.0
